/* Algemene opmaak */

html {
  scroll-behavior: smooth;
}

:root {
  --white: #FFFFFF;
  --green: #04d043;
  --grey: #5b5b5b;
  --ptext: rgb(186, 186, 186);
}

body {
  background: linear-gradient(90deg, rgba(23, 23, 23, 1) 0%, rgba(23, 23, 24, 1) 35%, rgb(12, 12, 12) 100%);
  color: var(--white);
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header sectie */

header {
  padding: 1em 0.8em;
}

.logo{
  margin-top: 20px;
}

.header-full {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 8;
  margin-bottom: 20px;
}

.header-full a {
  color: var(--green);
}

.header-full a:hover {
  color: var(--white);
}

#openMenu {
  font-size: 25px;
  cursor: pointer;
}

/* Overlay sectie */

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.overlay.show {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.menu-content {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #171717;
  left: -100px;
  padding: 20px;
  color: var(--white);
  height: 100%;
  width: 100%;
  transition: left 0.5s ease-in-out;
}

.menu-content.show {
  left: 50%;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}

.close-btn::before {
  content: attr(data-tooltip);
  font-size: 20px;
  position: absolute;
  left: -100px;
  transform: translateX(-50%);
  padding: 3px; 
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 3px; 
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.close-btn:hover::before {
  opacity: 1;
}

/* Teamtekst beginpagina sectie */

main {
  margin: 25px;
}

.text-container h1{
  font-size: 40px;
}

.teams {
  margin-bottom: 10px;
  display: flex; 
  align-items: center; 
  gap: 20px;
}

.text-container {
  flex-grow: 1;
  max-width: 400px;
}


.teams h1 {
  margin-bottom: 20px;
  
}

.teams p {
  color: var(--ptext);
  max-width: 100%;
}

.team-text {
  border-bottom: solid 0.1em var(--green);
  padding-bottom: 3px;
}

/* Groepsfoto sectie */

.groepsfoto {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 475px; 
  max-height: 350px; 
}

.groepsfoto img {
  width: 100%; 
  height: auto; 
  border-radius: 16px;
  filter: grayscale(100%);
}

.groepsfoto img:hover{
  filter: grayscale(0%);
}

/*
.groepsfoto::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 3px; 
  background-color: var(--green);
}
*/


/* The Team-sectie */

.teamsection {
  max-width: 1000px;
  margin: 0 auto; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.containerTeam {
  text-align: center; 
}


#teamSelector {
  background-color: var(--green);
  color: var(--white);
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid var(--green);
  border-radius: 5px;
  cursor: pointer;

}

#teamSelector:hover {
  background-color: lighten(var(--green), 20%);
}

#teamSelector:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#teamSelector option {
  background-color: var(--green);
  color: var(--white);
}

.team-section {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.visible {
  display: block;
}

.team-section p {
  margin-left: 20px;
}

/* Buttons sectie */

button {
  color: var(--ptext);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  margin-right: 15px;
  margin-bottom: 70px;
}

button:hover {
  color: var(--green);
}

/* Foto's sectie */

.foto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  margin: 10px;
  margin-left: 20px;
  border-radius: 15px;
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
}
/* Hover effect voor teamleden sectie */
[class^="team-member"]:hover .firstname-lastname {
  color: var(--green);
  transition: color 0.4s ease-in-out;
}

.foto img {
  transition: transform 0.4s ease-in-out;
}

.foto img:hover {
  filter: grayscale(0%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  box-shadow: 1px 1px 1px 1px var(--green);
}


/* Media Query sectie */

@media (max-width: 470px) {
  .foto img {
    width: 365px;
    height: auto;
    margin: 5px;
    margin-left: 10px;
  }

  .team-section p {
    margin-left: 10px;
  }

  .team-member {
    margin-bottom: 30px; 
  }
}

@media (max-width: 750px) {
  .teams {
    flex-direction: column; 
    text-align: center; 
  }
}

@media (min-width: 750px) {
  button {
    margin-bottom: 200px;
  }
}

/*The development team hulp met javascript*/
.team-section {
  display: none;
}

.TDT {
  display: flex;
}

.animated-label {
  font-size: 24px; 
  display: inline-block;
  margin-right: 50px;
}


/*footer sectie*/

footer {
  color: var(--white);
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
}

.footer{
  margin-top: 50px;
  margin-bottom:35px;
}

nav {
  margin-top: 15px;
}

nav a {
  color: var(--white);
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: var(--green);
}

.footer-arrow {
  position: absolute;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  background-color: var(--green); 
  padding:6px;
  border-radius: 50%;
  animation: bounce 1s infinite; 
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/*nog wat mediaquery*/

@media (min-width: 950px) {
  .teamtekst {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .teams{
    align-items: center;
    justify-content: space-between;
  }
}



@media (min-width: 890px) {
  .team-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 890px;
    align-items: center;
    justify-content: space-between;
  }
}
/*contact*/
form {
  max-width: 400px;
  margin: 20px auto;
}

section h2{
  text-align: center;
  margin-top: 100px;
}

label {
  display: block;
  margin-bottom: 5px;
}

/* Stijl voor invoervelden */
input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid var(--green);
  border-radius: 15px;
}

.footer-informatie{
  color: var(--green);
  text-align:left;
  margin-top: 30px;
}

.tekst-laten-zien{
  display:none;
}

.teskt-laten-zien{
  display: block;
  text-align: center;
}

/*aparte kaartjes*/

a {
  text-decoration: none;
  color: inherit; 
  transition: color 0.3s; 
}

a{
    margin-bottom: 20px;
}
a:hover {
  color:var(--white);
}
    
.business-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--green);
  max-width: 300px;
  margin: 50px auto;
}

.business-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 8px 16px var(--green);
}

.backto {
  color: var(--green);
}

.profile-img {
  border-radius: 50%;
  margin-bottom: 15px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}



.name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.job-title {
  font-size: 1.2em;
  color: var(--grey);
  margin-bottom: 10px;
}


.department {
  font-size: 1em;
  margin-bottom: 10px;
}

.bio {
  font-size: 0.9em;
  line-height: 1.5;
  margin-bottom: 15px;
}

.social-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.social-link {
  color: var(--white);
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s;
}

.social-link:hover {
  color: var(--green);
}

